.content {
  padding: 2rem;

  .button {
    margin-top: 2rem;
  }
  .board {
    border: solid 1px black;
    max-width: 600px;
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    #bar {
      margin-bottom: 0.5rem;
      width: 150px;
      height: 15px;
      background-color: blueviolet;
    }
    #ball {
      margin-bottom: 2.5rem;
      width: 30px;
      height: 30px;
      background-color: limegreen;
      border-radius: 50%;
    }

    .item {
      align-self: center;

    }
  }
}

